@model TaskViewModel

<div class="row" >
    <form method="post" asp-action="@(Model.ID>0? "edit":"add")" class="col-5">
        <input type="hidden"  asp-for="UserId" value="@Model.UserId"/>
        <span asp-validation-for="UserId" class="text-danger"></span>
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea type="text" class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div> 
        <div class="mb-3">
            <label asp-for="dueDate" class="form-label"
           
            ></label>
            <input type="datetime-local" value='@(Model.ID > 0 ? Model.dueDate.ToString("yyyy-MM-ddTHH:mm") : $"{@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")}")' min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" asp-for="dueDate">
            <span asp-validation-for="dueDate" class="text-danger"></span>
        </div>
       
        <div class="mb-3 @(Model.ID>0? "d-block":"d-none") "  >
            <label asp-for="status" class="form-label"></label>
            <select class="form-control" asp-for="status" asp-items="@Model.consts.Select(c=>new SelectListItem{Text=c.ToString(),Value=c.ToString()})">
                <option></option>
            </select>
            <span asp-validation-for="status" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary"> Save </button>
		
    </form>

</div>
